---
const {title} = Astro.props;
---
<header>
<a href="/">&leftrightharpoons; {title}</a>
</header>

<style>
    header {
        border-bottom: 1px solid gray;
    }
    header a {
        text-decoration: none;
        color: black;
    }
</style>