---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header title="" />
    <div class="resume">
        <h1>{frontmatter.title}</h1>
        <slot />
	</div>
    <Footer />
  </body>
</html>

<style>
	html {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		background-color: #abcdef;
	}
    .resume {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
        background-color: white;
	}
</style>